{% extends "model_no_auth.html" %}

{% block title %}Registro - NoteKeeper{% endblock %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4>Registrar-se</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('auth.register') }}">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        <label for="{{ form.name.id }}" class="form-label">Nome</label>
                        {{ form.name(class="form-control", placeholder="Seu nome...") }}
                        {%if form.name.errors %}
                            <div class="text-danger">
                                {{ form.name.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id }}" class="form-label">E-mail</label>
                        {{ form.email(class="form-control", placeholder="Seu email...") }}
                        {% if form.email.errors %}
                            <div class="text-danger">
                                {{ form.email.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.passwd.id }}" class="form-label">Senha</label>
                        {{ form.passwd(class="form-control", placeholder="Sua senha...") }}
                        {% if form.passwd.errors %}
                            <div class="text-danger">
                                {{ form.passwd.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.confirm_passwd.id }}" class="form-label">Confirmar Senha</label>
                        {{ form.confirm_passwd(class="form-control", placeholder="Confirme sua senha...") }}
                        {% if form.confirm_passwd.errors %}
                            <div class="text-danger">
                                {{ form.confirm_passwd.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Registrar</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <small>Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça login</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
