{% extends "model.html" %}

{% block title %}Editar Nota - NoteKeeper{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4>Editar Nota</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('note.edit_notes', id=note.id) }}">
                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ note.title }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label">Texto</label>
                        <textarea class="form-control" id="text" name="text" rows="5" required>{{ note.text }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Salvar Alterações</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for('note.list_notes') }}" class="text-decoration-none">Voltar para minhas notas</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}