{% extends "model.html" %}

{% block content %}
{% for note in notes %}
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.text }}</p>
            <a href="{{ url_for('note.edit_notes', id=note.id) }}" class="btn btn-primary">Editar</a>
            <form method="POST" action="{{ url_for('note.delete_note', id=note.id) }}" style="display:inline;">
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
        </div>
    </div>
{% endfor %}
{% endblock %}
